@import "colors";

.landingSection {
  height: 100vh;
  background-color: $primary;
  padding-top: 10vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 100%;
  display: grid;
  grid-template-rows: 30% 70%;
  height: 65vh;
}

.heroText {
  color: $white;
  font-size: 1.2rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 10%;

  h1 {
    display: inline-flex;
  }
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .heroText {
    font-size: 2vw;
    align-items: center;
    height: auto;
    padding-left: 30%;
  }
}