@import "colors";

.cardsContainer {
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.seeMore {
  color: $black;
  font-size: 2rem;
  text-align: center;
}