@import 'colors';

.sectionBody {
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionContainer {
    max-width: 1280px;
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTitle {
   color: $primary;
   font-size: 2.5rem;
   margin: 0 auto;
}